<html>
        <head>
            <title>VLADIMIRS blog</title>
        </head>
        <body>
            <p>Hi there!</p>
            <p>It works!</p>
            
            {{ posts }}
            
            <br>
{% for post in posts %}
	{{ post }} <br>
{% endfor %}


    <div>
        <h1><a href="/">Vladimirs Blog</a></h1>
    </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
            
        </body>
</html>
